<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Test" />
		<add key="BaseUrl" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login" />
		<add key="Username" value="Admin" />
		<add key="Password" value="admin123" />
		<add key="InvalidPassword" value="admin456" />
	</appSettings>
</configuration>